<section>

  <header class="page-header">
    <h1>Dashboard</h1>
  </header>

<div class="alert alert-primary" role="alert">
Total Products: <%= @products.count %>
</div>

<div class="alert alert-primary" role="alert">
Total Categories: <%= @categories.count %>
</div>

</section>